<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Home page - Login</h1>
<form action="/login" method="post">
    <fieldset>
        <legend>Login Here</legend>
        <label>username</label>
        <input type="text" name="userName"/>
        <label>password</label>
        <input type="password" name="password"/>
        <input type="submit" value="login"/>
    </fieldset>
</form>

<form action="/signup" method="post">
    <fieldset>
        <legend>Signup Here</legend>
        <label>username</label>
        <input type="text" name="userName"/>
        <label>password</label>
        <input type="password" name="password"/>
        <input type="submit" value="sign up"/>
    </fieldset>
</form>
</body>
</html>
